ul, li{
	list-style: none;
	padding:0px;
}
html{
	background-color: #EEEEEE;

}
body{
	background-color: #fff;
	font-size: 12px;
	font-family: arial;
}
a, html{
	color:$primary-color-black;
}
a:hover{
	color: $primary-color-orange;
	text-decoration: none;
}
