$primary-color-black: #000;
$primary-color-orange:  #f60;
$primary-color-start: #FFC000;
$primary-color-grey: #aaa;
$primary-color-blue: #1e90ff;
$primary-color-white: #fff;
$primary-color-boder: #1e90ff;